body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #f5f5f5;
}


#board {
    background-color: lightgray;
    border-bottom: 2px solid black;
    display: block;
    margin: auto;
}


button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}